# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django / local
*.sqlite3
.env
.env.*
*.log
!.env.example

# venv
venv/
.venv/
backend/.venv/
backend/.venv*/
frontend/.venv*/

# Frontend
node_modules/
dist/
build/

# OS / IDE
.DS_Store
.idea/
.vscode/

# PDFs / docs
*.pdf
*.docx